<a href="https://colab.research.google.com/github/pdrobny/Potential_Talents/blob/main/API_groq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install groq

Collecting groq
  Downloading groq-0.28.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from groq) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.11/dist-packages (from groq) (2.11.7)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in /usr/local/lib/python3.11/dist-packages (from groq) (4.14.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.5.0->groq) (3.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq) (2025.6.15)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq) (1.0.9)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (0.4.1)
Downloading groq-0.28.0-py3-none-any.whl (130 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 130.2/130.2 kB 3.4 MB/s eta 0:00:00
Installing collected packages: groq
Successfully installed groq-0.28.0

In [2]:
import pandas as pd
import numpy as np
import warnings
import logging
import random
import requests
import sys
import re
from groq import Groq
from google.colab import userdata
warnings.filterwarnings('ignore', category=UserWarning)

In [4]:
df = pd.read_csv('talents.csv')
df

,id,title,sentence_bert_cossim
0,1,innovative and driven professional seeking a r...,1.000000
1,431,aspiring data science professional focused on ...,0.769162
2,544,data analyst data scientist business analyst d...,0.768222
3,833,data analyst turning complex data into actiona...,0.745245
4,199,ms in information systems northeastern univers...,0.727268
...,...,...,...
1260,648,research specialist university of rochester di...,0.079923
1261,730,medical biller at brick pediatric group,0.072848
1262,990,ingeniero elctrico,0.067254
1263,296,company owner at armstrong cleans carpets,0.056890
1264,551,python arcpy arcgis pro esri products geoai do...,0.024555

In [25]:
# prompt: random sample of 200 from df then create a string of candidates with id and title

random_sample_df = df.sample(n=200, random_state=42)
candidates = ""
for index, row in random_sample_df.iterrows():
  candidate_id = row['id']
  candidate_title = row['title']
  candidates += f"ID: {candidate_id}, Title: {candidate_title}\n"
candidates

'ID: 1233, Title: graduate students of mathematics at university of ioannina uoi mathematician\nID: 639, Title: ms-isom graduate student univerisity of florida  warrington college of business\nID: 332, Title: comp sci mathematics student fourth year at st. josephs university new york data analyst seeking 2025 internshipentry-level opportunities completed google data analyst cert completed ibm data scientist cert\nID: 336, Title: data research assistant at the new york state office of mental health graduate student at the university at albany masters in data science\nID: 509, Title: masters in finance  fintech baruch software engineer data scientist be jadavpur university\nID: 452, Title: crm analyst email lifecycle marketing data-driven\nID: 1054, Title: data scientist with experience in data extraction modeling and visualization. proven expertise in machine learning predictive modeling and transforming data into actionable insights.\nID: 873, Title: data development\nID: 1272, Title: data scientist machine learning scientist\nID: 269, Title: data scientist optum python sql specialist power bi tableau ml aws\nID: 1267, Title: generative ai data science python\nID: 875, Title: open to opportunities market insights analyst intern at t-mobile python java sql tableau aws storyteller\nID: 1149, Title: machine learning engineer collov ai ml development ai products\nID: 520, Title: recent pittsburg state university graduate data science and information systems\nID: 922, Title: data analyst at hcn power bi certified indiana university ms ds\nID: 189, Title: cybersecurity\nID: 274, Title: actively looking for roles in ai machine learning data engineering cloud platforms gen ai engineer mlops nlp predictive analytics deep learning ai consultant\nID: 65, Title: data scientist data analyst candidate at webster university business intelligence specialist data analyst data scientist machine learning ml analyst machine learning engineer.\nID: 378, Title: senior cis major baruch college data analyst\nID: 241, Title: postdoctoral researcher  columbia university chemistry department\nID: 952, Title: data scientist azure ai engineer microsoft certified data science graduate student usc jlpt n2\nID: 383, Title: analyst ii ops at constellation data science\nID: 947, Title: machine learning engineer\nID: 958, Title: computational material science mse masters student at uc berkeley\nID: 1096, Title: data scientist osu wexner medical center masters in cs osu healthcare ai\nID: 565, Title: actively seeking 25 ng full-time ms in ai engineering  information security at carnegie mellon university\nID: 647, Title: business intelligence developer\nID: 648, Title: research specialist university of rochester division of glial therapeutics\nID: 455, Title: ai and llms engineer intern minor chores robotics grad student at asu expertise in machine learning artificial general intelligence and computer vision\nID: 847, Title: b.s. in computational and systems biology\nID: 1111, Title: manager investment risk at cpp investments\nID: 205, Title: actively seeking full-time opportunities in data science python sql r spark machine learning bi and cloud tools specialist m. s. student in information management uiuc\nID: 278, Title: data analytics data engineering dataviz databricks power bi python\nID: 880, Title: passionate and driven bioinformatics graduate from san jose state university actively seeking full time opportunities for making a difference in computational biology research.\nID: 228, Title: operations data analyst mba candidate driving efficiency growth with data-driven strategies sql python tableau expert\nID: 800, Title: analytics engineer\nID: 538, Title: data engineer data science machine learning pyspark powerbi data analytics sql data visualization\nID: 11, Title: experienced data analystdata scientist python sql r java ml ai enthusiast cloud solutions aws azure data visualization power bi tableau agile scrum practitioner\nID: 365, Title: msba 25 carnegie mellon university  tepper school of business cs purdue university data analyst business analyst python sql r tableau powerbi machine learning\nID: 824, Title: grad student at georgia tech\nID: 797, Title: senior data analyst  optum\nID: 306, Title: counselor data science machine learning\nID: 1004, Title: data scientist machine learning researcher mathematician phd\nID: 192, Title: masters in data analytics and engineering\nID: 961, Title: scientist data analyst process development computational biology multi-omics mass spec ngs bioprocess cross-functional collaboration continuous improvement data management python r rock climbing\nID: 971, Title: data scientist\nID: 256, Title: an outgoing quick learner and determined problem solver with strengths in analysis and hospitality. experience in engineering physics and finance currently working as a snowboard instructor at winter park.\nID: 1184, Title: graduate student at northeastern university masters in data analytics engineering data science machine learning data engineering\nID: 1171, Title: data analyst python machine learning enthusiast excel vba\nID: 420, Title: computer science graduate from the university of iowa aspiring software developer passionate about back-end programming and ai technologies\nID: 1162, Title: data analyst sql python data visualization\nID: 7, Title: data analyst business analyst python snowflake sql machine learning power bi tableau equipped with analytics driven by insights and passionate about impactful solutions.\nID: 831, Title: automation engineer it specialist software developer process optimization rpa expert pos cloud solutions architect problem-solver innovator\nID: 135, Title: data engineer big data cloud specialist aws spark python building scalable data pipelines\nID: 590, Title: analyst allianz prev quant intact prev sde thrivent\nID: 774, Title: snowflake developer\nID: 375, Title: data science student tackling real-world challenges with ai analytics actively seeking opportunities\nID: 595, Title: scientist ambitious living to learn everyday\nID: 1116, Title: aspiring director of automation data insights\nID: 69, Title: data science graduate passionate about ai ml analytics\nID: 1136, Title: data engineer cloud platforms aws azure snowflake etlelt automation data pipelines analytics power bi tableau python sql pyspark\nID: 983, Title: data scientist experienced in machine learning natural language processing r programming languageimproved model training quality by 25 passionate about ai-driven analytics\nID: 483, Title: ai researcher and software developer\nID: 405, Title: prompt engineer data analyst ai engineer seeking data analytics aiml roles m.s. data analytics sjsu sql python tableau power bi etl ex-data analyst airbus nlp generative ai llms\nID: 367, Title: data engineer analyst certified aws solutions architect ex-tcs python developer sql aws spark airflow snowflake data warehouse power bi hadoop mongodb cassandra\nID: 776, Title: data analystsis administrator\nID: 81, Title: masters student at the university of greenwich. data science big data analytics machine learning business intelligence\nID: 1261, Title: data scientist\nID: 416, Title: data analyst business intelligence data quality assurance sql project management supply chain\nID: 1064, Title: aiml engineer freedom mortgage document classification chatbot response enhancement\nID: 848, Title: ms in applied data analytics at boston university seeking intern or spring 2025 full time data analyst roles\nID: 917, Title: incoming data science graduate student at george washington university passionate about data science\nID: 999, Title: data scientist and data analyst master in data science 5 years of experience developing data science projects google certified data analyst\nID: 270, Title: data scientist at the irs\nID: 1215, Title: software engineer\nID: 23, Title: experienced software developer skilled in c python and aws driving seamless data integration and website development with strong leadership and teamwork abilities.\nID: 933, Title: ms applied mathematics at rensselaer polytechnic institute\nID: 533, Title: bachelor of science in statistics data science\nID: 1266, Title: data science engineer\nID: 846, Title: data analyst\nID: 877, Title: ms computer science  uta\nID: 1258, Title: ml swe dori ai ex-data science intern nference prev research nus mmlabcvit ju deep learning computer vision\nID: 791, Title: data analyst\nID: 747, Title: incoming tech catalyst associate data engineer at the hartford.\nID: 510, Title: data science b.s. supply chain information analytics b.s. purdue university\nID: 295, Title: senior data spatial scientist\nID: 906, Title: presidential fellow phd candidate in geography at the ohio state university\nID: 1097, Title: experienced programmer seeking opportunities\nID: 883, Title: manager modelos y canales de relacin physics python go sql julia\nID: 407, Title: ghc 24 scholar actively looking for full time jobs 2025 wids ambassador pursuing masters in applied data science at syracuse university\nID: 1121, Title: data scientist wells fargo sql python machine learning\nID: 702, Title: data analyst implementation workflow automation specialist\nID: 975, Title: pursuing masters in computer science at georgia institute of technology data science machine learning software engineering ex-allstate india 4 yoe\nID: 762, Title: project data analyst southern california edison.\nID: 1125, Title: seeking full time dads jobs microsoftkpmgbobs discount furniture ms in information system specialized in machine learning johns hopkins\nID: 813, Title: data analyst expert in sql python tableau power bi turning data into strategic insights empowering data-driven decisions open to new opportunities\nID: 1131, Title: data scientist at dod office of the inspector general\nID: 954, Title: ms informatics  data science engineering\nID: 74, Title: data analyst\nID: 402, Title: aspiring data scientist quantitative analyst sql python r financial economic modeling predictive analytics\nID: 891, Title: data analytics\nID: 789, Title: computer science student at christopher newport university\nID: 268, Title: advancing ai ml at scale data scientist driving innovation with graph neural networks nlp and mlops solutions\nID: 1029, Title: statistics and data science major ucsb\nID: 886, Title: graduate research and teaching assistant at michigan state university\nID: 740, Title: senior technical support representative at n-able with expertise in cyber security and project management\nID: 1005, Title: data science associate mtamscs nyu seeking 2025 data scientistdata engineer fulltimes\nID: 684, Title: experienced data analyst actively seeking opportunities to leverage data for business success sql python tableau power bi e-commerce web analytics turning data into actionable insights\nID: 821, Title: software engineer java spring boot\nID: 1172, Title: data science data analyst busines intelligence python sql machine learning power bi\nID: 1262, Title: data analyst data scientist\nID: 457, Title: data science and machine learning specialist insight-driven analyst expert in statistical modeling and data visualization\nID: 536, Title: programmer analyst university of pennsylvania data visualization sql\nID: 782, Title: data analyst data storytelling microsoft power query query languages tableau sql python\nID: 653, Title: data engineer at elevance health\nID: 1046, Title: numbers dont lie but they do tell stories\nID: 863, Title: data analyst business intelligence analyst\nID: 547, Title: graduate data scientist python sql machine learning data visualization eda tableau power bi\nID: 325, Title: data analyst guru diam inc master of science in data science\nID: 549, Title: graduate student at ucsb\nID: 1084, Title: bioinformatics\nID: 1138, Title: data scientist\nID: 839, Title: scientist with expertise in mathematical modeling and data analysis open to new positions\nID: 353, Title: student at university of oregon\nID: 685, Title: qc scientist\nID: 219, Title: data scientist research scientist machine learning engineer artificial intelligence creating accurate and efficient machine learning solutions ai scientist ai engineer\nID: 58, Title: ph.d. candidate in economics seeking roles as economist data scientist or quantitative researcher\nID: 93, Title: insurance agent with customer service it and analytical experience\nID: 1158, Title: mathematician data scientist\nID: 836, Title: recent graduate from the university of washington\nID: 104, Title: data analyst orbitekk masters in information science\nID: 780, Title: software engineer\nID: 760, Title: software developer at paycom\nID: 1117, Title: data scientist harnessing data for strategic decision-making specialist in ai ml and data visualization\nID: 599, Title: msba graduate data analytics business intelligence\nID: 331, Title: data scientist machine learning data visualization python transforming data into insights math educator math coach\nID: 91, Title: alumni of california state university channel islands\nID: 279, Title: data analyst sql python data visualization\nID: 930, Title: data scientist intern tcs 3 years in data analysis machine learning data visualization seeking full-time data scientistanalystml roles python sql tableau power bi r\nID: 899, Title: full-stack developer mechanical engineer encoding the future\nID: 130, Title: registered behavioral therapist\nID: 935, Title: alumni from texas christian university\nID: 1010, Title: doctor of experimental high energy physics\nID: 716, Title: linguist language data specialty\nID: 622, Title: data analyst\nID: 108, Title: itil 4 comptia a\nID: 709, Title: i am passionate about design and love to work with others to develop and create products that are professional and will create an impact.\nID: 1265, Title: doctor of medicine  md\nID: 185, Title: business development account management\nID: 153, Title: senior data analyst snowflake pyspark sql python etl databricks\nID: 215, Title: i am currently looking for new opportunity as a machine learning engineer\nID: 182, Title: experienced data analyst research coordinator healthcare data specialist\nID: 289, Title: data scientist certified tensorflow developer\nID: 586, Title: bs economics at san jose state university aspiring data analyst skilled in sql r python tableau\nID: 941, Title: data scientist specializing in machine learning nlp and cloud computing transforming data into strategic business solutions\nID: 1057, Title: postdoctoral fellow phd in mathematics topological data analysis\nID: 473, Title: senior data analyst at humana microsoft certified azure enterprise data analyst associate x 2\nID: 904, Title: data analyst data engineer aws certified sql tableau python cloud big data enthusiast transforming data into insights\nID: 143, Title: senior data engineer\nID: 995, Title: information systems graduate student at university of memphis\nID: 1221, Title: data scientist machine learning engineer\nID: 292, Title: former data analyst\nID: 126, Title: data engineer aws solutions architect certified ibm data analyst data analytics grad gmu aspiring data engineer python sql tableau power bi\nID: 820, Title: student at santa clara university\nID: 1133, Title: data scientist physicist machine learning\nID: 474, Title: data analyst business intelligence sql power bi python data-driven decision making\nID: 938, Title: actively seeking full time data analystdata scientist roles python r sql powerbi machine learning nlp pl300 certified\nID: 862, Title: student at university of cincinnati\nID: 456, Title: artificial intelligence professional natural language processing deep learning reinforcement learning machine learning automation 3 years of professional experience.\nID: 714, Title: graduate\nID: 1235, Title: data scientist with expertise in machine learningvisualizationpredictive modeling\nID: 1189, Title: computer scientist\nID: 329, Title: ai implementation engineer at fiserv mscs  machine learning candidate at georgia tech\nID: 852, Title: ms in data analytics engineering northeastern university boston\nID: 991, Title: master of science in data science and engineering student information systems management\nID: 678, Title: ms in financial engineering epfl quantitative finance machine learning full-stack\nID: 854, Title: full-stack developer\nID: 436, Title: masters student  business information systems data analytics machine learning ai\nID: 123, Title: python r sql tableau statistics power bi data analytics business intelligence\nID: 1014, Title: m.s. industrial and systems engineering decision analysis machine learning simulation\nID: 682, Title: management information system student at university of central oklahoma\nID: 934, Title: data scientist nlp genai specialist ai solutions with langchain azure openai sql python ml dl expert cloud tools azure aws proven impact in forecasting data-driven insights\nID: 347, Title: research assistant kelley school of business mds iub machine learning python r sql powerbi\nID: 1236, Title: data scientist data analyst python sql ml ai developer generativeai kaggle expert linux cloud gputpu model training nlp pharm.d\nID: 608, Title: software automation engineer skilled in python vmware automation matlab mit-certified in applied data science ai driving itcloud operations efficiency through automation\nID: 808, Title: research data analyst\nID: 1141, Title: m.s. in analytics at usc viterbiuc santa cruz 2023\nID: 660, Title: software engineer rbc vghc23\nID: 683, Title: computer science graduate student at san francisco state university\nID: 976, Title: data scientist machine learning ai big data analytics predictive modeling cloud computing aws gcp data-driven decision making\nID: 1075, Title: statistician data analyst data visualization expert pollster communications professional social media digital media advertiser\nID: 315, Title: computer science student at yeshiva university\nID: 29, Title: researcher deep learning spatial data science\nID: 18, Title: actively seeking full-time roles in bioinformatics masters in biomedical informatics and data science asu\nID: 1259, Title: data engineer ai customer analytics senior year at karunya institute of technology and sciences\nID: 662, Title: data analyst passionate about automating data workflows and delivering scalable solutions python sql aws tableau\nID: 977, Title: ex-data science co-op boehringer ingelheim mscs umass amherst\nID: 946, Title: ph.d. candidate mathematician researcher algebraist\nID: 1013, Title: data scientistbi engineergen ai developer ms in statistics and data science and ms in is mldeep learning mlops genai-llm langchain ssrs sql python azure data factorysynapse analytics\nID: 248, Title: data scientist data engineer data analyst specializing machine learning statistical modeling data visualization data pipeline architect etl big data. proficient in python sql pandas numpy sklearn pytorch.\n'

In [20]:

# Get a sample of available job titles and job ids to reduce prompt size
# You can adjust the sample size (e.g., 100 or 200) based on testing to stay within the token limit
sample_size = 200
sample_cand = df['title'].sample(min(sample_size, len(df))).tolist()
sample_ids = df['id'].sample(min(sample_size, len(df))).tolist()

# join ids and titles to system knows to keep these together.
candidates2 = "\n".join([f"{job_id}: {job_title}" for job_id, job_title in zip(sample_ids, sample_titles)])
type(candidates2)

str

In [7]:
# Initialize Groq LLM (replace with actual API call)
client= Groq(api_key=userdata.get("GROQ_KEY"))

In [8]:
# replace search term with target job title
search_term = "Data Analyst"

In [33]:
%%time

# Construct prompt
prompt = f"""
Return a list of the top 5 job candidates with full unmodified job title and matching job id from a job titles list ranked by their similirality to the search term in desecnding order.  Only show the answer. Do not reason or explain.
**Search term**
{search_term}

**Job candidates (ID: Title)**
{candidates}


Show answer in following format:
Rank ID   Title
1 - 1: innovative and driven professional seeking a role in data analyticsdata science in the information technology industry.
2 - ...
3 - ...
...
Answer: Top 5 are:
"""

# Call Groq API
response = client.chat.completions.create(
    model="llama-3.1-8b-instant",
    messages=[
        {"role": "system", "content": "You are an AI that ONLY outputs a list of top 5 candidates in strict numbered format. Do NOT explain, think, or reason."},
        {"role": "user", "content": prompt}
    ]
)

# Extract ranked job titles
top_5_jobs = response.choices[0].message.content.split("\n")[:5]

#print(top_5_jobs)
top_5_jobs

CPU times: user 26.4 ms, sys: 3.02 ms, total: 29.4 ms
Wall time: 2.08 s

['1 - 332: comp sci mathematics student fourth year at st. josephs university new york data analyst seeking 2025 internshipentry-level opportunities completed google data analyst cert completed ibm data scientist cert',
 '2 - 1149: machine learning engineer collov ai ml development ai products',
 '3 - 332: comp sci mathematics student fourth year at st. josephs university new york data analyst seeking 2025 internshipentry-level opportunities completed google data analyst cert completed ibm data scientist cert - Replaced with - ',
 '2 - 1136: data engineer cloud platforms aws azure snowflake etlelt automation data pipelines analytics power bi tableau python sql pyspark',
 '3 - 332: comp sci mathematics student fourth year at st. josephs university new york data analyst seeking 2025 internshipentry-level opportunities completed google data analyst cert completed ibm data scientist cert - Replaced with - ']

In [36]:

# Construct strict output prompt
prompt = f"""
Return a list of the top 5 job candidates with full unmodified job title and matching job id from a job titles list ranked by their similirality to the search term in desecnding order.  Only show the answer. Do not reason or explain.
**Search term**
{search_term}

**Job candidates (ID: Title)**
{candidates}


Show answer in following format:
Rank Job ID   Job Title
1 - 1: innovative and driven professional seeking a role in data analyticsdata science in the information technology industry.
2 - ...
3 - ...
...
Answer: Top 5 are:
"""



# Call Groq API
response = client.chat.completions.create(
    model="deepseek-r1-distill-llama-70b",
    messages=[
        {"role": "system", "content": "You are an AI that ONLY outputs a list of top 5 job titles in strict numbered format. Do NOT explain, think, or reason."},
        {"role": "user", "content": prompt}
    ]
)


# Extract ranked job titles
output = response.choices[0].message.content.strip().split("\n")
top_5_jobs = [line for line in output if re.match(r"^\d\.\s", line)][:5]

for job in top_5_jobs:
    print(job)

1. **ID: 332** - "comp sci mathematics student fourth year at st. josephs university new york data analyst seeking 2025 internshipentry-level opportunities completed google data analyst cert completed ibm data scientist cert"
2. **ID: 336** - "data research assistant at the new york state office of mental health graduate student at the university at albany masters in data science"
3. **ID: 922** - "data analyst at hcn power bi certified indiana university ms ds"
4. **ID: 7** - "data analyst business analyst python snowflake sql machine learning power bi tableau equipped with analytics driven by insights and passionate about impactful solutions."
5. **ID: 452** - "crm analyst email lifecycle marketing data-driven"